mask.png
gen_texture_raw.png
dirty_output.png
old_ver/
runs/
yolov8s.pt
dirty_imgs/train_list.txt
dirty_imgs/dataset.yaml
.venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store
.idea/
dirty_imgs/mud/
dirty_imgs/water/